.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: rgb(169, 228, 200);
  border-radius: 5px;
  font-family: Consolas;
}
.link {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.25s;
  text-decoration: none;
  margin-right: 10px;
}
.activeLink {
  color: rgb(192, 24, 24);
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.25s;
  text-decoration: none;

  margin-right: 10px;
}
